/* Styles.css */

@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

body {
    background: linear-gradient(99deg, #00a8ab, #84fdff);
    font-family: 'Lobster', sans-serif;
    padding: 20px 0px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #ffe600;
}

#title2 {
    font-size: 60px;
}

.sketch-pad {
    width: 800px;
    height: 700px;
    background-color: #cc0000;
    padding-bottom: 75px;
    border-radius: 7%;
    margin: auto;
    box-shadow: inset 4px 10px 10px 4px #7e3030;
}

.container {
    display: grid;
    width: 700px;
    height: 400px;
    background-color: #e0e0e0;
    border: #acacac solid;
    margin: auto;
}

.container:hover {
    cursor: pointer;
}

.cell {
    border: #acacacfc solid thin;
}

